@model OmahaMtg.Events.EventInfo
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/Content/anytimecss")
@section Scripts{

    @Scripts.Render("~/bundles/marked")
    @Scripts.Render("~/bundles/anytimejs")
    <script>




        $("#eventStartTime").AnyTime_picker({ format: "%m/%d/%Y %l:%i %p" });
        $("#eventEndTime").AnyTime_picker({ format: "%m/%d/%Y %l:%i %p" });
        $("#publishEndTime").AnyTime_picker({ format: "%m/%d/%Y %l:%i %p" });
        $("#publishStartTime").AnyTime_picker({ format: "%m/%d/%Y %l:%i %p" });

        $("button[data-clear]").bind("click", function () {
            var id = $(this).data("clear");
            $("#" + id).val('');
        });
    </script> 
}
<form method="POST">
<fieldset>
    <div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="title">Title</label>
                    <input type="text" class="form-control" value="@Model.Title" id="title" name="title" tabindex="1">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" style="height: 100%">
                <label>Body <a href="http://thisismarkdown.com/" target="_blank">This Is Markdown</a></label>
                <div class="input-control text " data-role="input-control" style="bottom: 5px; height: 100%">
                    <textarea id="bodyEdit" name="Body" style="max-width: none; width: 100%; height: 400px" tabindex="2" rows="50" data-provide="markdown">@Model.Body</textarea>
                    <br/>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="eventStartTime">
                                Event Start Time
                            </label>
                            <button class="btn-xs btn btn-info pull-right" data-clear="eventStartTime" type='button'>Clear</button>
                            <input type="text" class="form-control" value="@Model.EventStartTime" id="eventStartTime" name="eventStartTime">
                        </div>

                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="eventEndTime">
                                Event End Time
                            </label>
                            <button class="btn-xs btn btn-info pull-right" data-clear="eventEndTime" type='button'>Clear</button>
                            <input type="text" class="form-control" value="@Model.EventEndTime" id="eventEndTime" name="eventEndTime">
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="publishStartTime">
                                Publish Start Time
                            </label>
                            <button class="btn-xs btn btn-info pull-right" data-clear="publishStartTime" type='button'>Clear</button>
                            <input type="text" class="form-control" value="@Model.PublishStartTime" id="publishStartTime" name="publishStartTime">
                        </div>

                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="publishEndTime">
                                Publish End Time
                            </label>
                            <button class="btn-xs btn btn-info pull-right" data-clear="publishEndTime" type='button'>Clear</button>
                            <input type="text" class="form-control" value="@Model.PublishEndTime" id="publishEndTime" name="publishEndTime">
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="vimeoId">
                                Vimeo ID
                            </label>
                            <input type="text" class="form-control" value="@Model.VimeoId" id="vimeoId" name="vimeoId">
                        </div>

                    </div>
                    <div class="col-md-6">
                        <div class="" data-role="input-control">
                            <label>
                                @if (Model.IsDeleted)
                                {
                                    <input type="checkbox" name="isDeleted" checked="" value="true">
                                }
                                else
                                {
                                    <input type="checkbox" name="isDeleted" value="true">
                                }
                                Deleted
                            </label>
                        </div>
                    </div>

                </div>

            </div>
            <div class="col-md-4">
                <ul>
                    @foreach (var item in Model.AvailableGroups)
                    {
                        <div class="" data-role="input-control">
                            <label>
                                @if (Model.GroupTags.Contains(item.Key))
                                {

                                    <input type="checkbox" checked="" name="groupTags" value="@item.Key">
                                    @item.Value
                                }
                                else
                                {
                                    <input type="checkbox" name="groupTags" value="@item.Key">
                                    @item.Value
                                }
                            </label>
                        </div>
                    }

                </ul>
            </div>

        </div>


        <div class="row">
            <div class="col-md-12">
                <div class="pull-right">

                    <a href="../" class="btn-sm btn btn-primary">Return to Event List</a> &nbsp; &nbsp;
                    <button class="btn-sm btn btn-primary" type="submit">Save</button>
                </div>
                
            </div>
        </div>

    </div>
</fieldset>
</form>
