@model OmahaMtg.Web.Models.ProfileViewModels.User
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <form>

    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label for="firstName">First Name</label>
                <input type="text" class="form-control" value="@Model.FirstName" id="firstName" tabindex="1">
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="lastName">Last Name</label>
                <input type="text" class="form-control" value="@Model.LastName" id="lastName" tabindex="1">
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="emailAddress">Email Address</label>
                <input type="text" class="form-control" value="@Model.EmailAddress" id="emailAddress" tabindex="1">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label for="webUrl">Website URL</label>
                <input type="text" class="form-control" value="@Model.WebsiteUrl" id="webUrl" tabindex="1">
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="twitterUser">Twitter Username</label>
                <input type="text" class="form-control" value="@Model.TwitterUser" id="twitterUser" tabindex="1">
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="githubUser">Github User</label>
                <input type="text" class="form-control" value="@Model.GitHubUser" id="githubUser" tabindex="1">
            </div>
        </div>
    </div>



            <div class="row">
                <div class="col-md-2">

                    <input type="button" class="btn btn-default" value="Submit" id="saveProfile">
                </div>
                <div class="col-md-10">

                    <div class="span4 bg-red text-center" id="profileUpdateMessage" style =" display: none">
                        <div class="fg-white" >Profile Updated</div>
                    </div>
                </div>

            </div>


    </form>
    <hr/>
    <form>

        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="webUrl">Old Password</label>
                    <input type="password" class="form-control" id="oldPassword" tabindex="1">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="twitterUser">New Password</label>
                    <input type="password" class="form-control" id="newPassword" tabindex="1">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="githubUser">Confirm Password</label>
                    <input type="password" class="form-control"  id="confirmPassword" tabindex="1">
                </div>
            </div>
        </div>


                <div class="row">
                    <div class="col-md-2">

                        <input type="button" class="btn btn-default" value="Submit" id="savePassword">
                    </div>
                    <div class="col-md-10">

                        <div class="span4 bg-red text-center" id="passwordUpdateMessage" style=" display: none">
                            <div class="fg-white">Email Updated</div>
                        </div>
                    </div>

                </div>


    </form>
</div>

