@using OmahaMtg.Events

@model OmahaMtg.PagedSet<OmahaMtg.Events.EventInfo>

@{
    ViewBag.Title = "Index";
}

        @foreach (var item in Model.Records)
        {

            <h3 style="margin-top: 20px">@Html.ActionLink(item.Title, "Details", "Post", new { id = item.Id }, null) </h3>
            var info = item as EventInfo;
            if (info != null)
            {
                <h5>@info.EventStartTime </h5>

            }

            <hr style="margin: 0" />

            <div>
                <span class="badge badge-success">Posted by @Html.DisplayFor(modelItem => item.CreatedByUserName) at @Html.DisplayFor(modelItem => item.PublishStartTime)</span>
                <div class="pull-right">
                    @foreach (var group in item.AvailableGroups.Where(w=> item.GroupTags.Contains(w.Key)))
                    {
                        <span class="label badge ">@group.Value</span>
                    }

                </div>
            </div>
            <br />
            <p>
                @Html.Raw(item.HtmlBodySummary)
                @Html.ActionLink("Read More", "Details", "Post", new { id = item.Id}, null) 

            </p>

            <br />

        }


