@model OmahaMtg.Data.BannerAdd

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Banner Add Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IsCurrent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsCurrent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RotationStart)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RotationStart)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RotationEnd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RotationEnd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FileName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FileName)
        </dd>

        <dt>Image</dt>

        <dd>
            @if (Model.FileName.Equals("none"))
            {
                <span>none</span>
            }
            else
            {
                <img src="~/Content/Banners/@Model.FileName" alt="@Model.Name" />
            }
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
